Q1. List any five functions of the pandas library with execution.

Five functions of the Pandas library with an example of their execution:

1. 
read_csv: This function is used to read data from a CSV file and convert it into a Pandas DataFrame.

In [2]:
import pandas as pd

df = pd.read_csv('district wise rainfall normal.csv')
print(df.head())

                 STATE_UT_NAME       DISTRICT    JAN   FEB    MAR    APR  \
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  57.9   65.2  117.0
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  26.0   18.6   90.5
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  15.9    8.6   53.4
3            ARUNACHAL PRADESH          LOHIT   42.2  80.8  176.4  358.5
4            ARUNACHAL PRADESH     EAST SIANG   33.3  79.5  105.9  216.5

     MAY    JUN    JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  \
0  358.5  295.5  285.0  271.9  354.8  326.0  315.2  250.9  2805.2    165.2
1  374.4  457.2  421.3  423.1  455.6  301.2  275.8  128.3  3015.7     69.7
2  343.6  503.3  465.4  460.9  454.8  276.1  198.6  100.0  2913.3     48.6
3  306.4  447.0  660.1  427.8  313.6  167.1   34.1   29.8  3043.8    123.0
4  323.0  738.3  990.9  711.2  568.0  206.9   29.5   31.7  4034.7    112.8

   Mar-May  Jun-Sep  Oct-Dec
0    540.7   1207.2    892.1
1    483.5   1757.2    705.3
2    405.6   1884.4    574.7
3    841.3   1848.5    231.0
4    645.4   3008.4    268.1

2. 
head: This function is used to return the first n rows of a DataFrame. By default, it returns the first five rows.

In [3]:
import pandas as pd

df = pd.read_csv('district wise rainfall normal.csv')
print(df.head(10)) # returns the first 10 rows

                 STATE_UT_NAME       DISTRICT    JAN    FEB    MAR    APR  \
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3   57.9   65.2  117.0
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7   26.0   18.6   90.5
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7   15.9    8.6   53.4
3            ARUNACHAL PRADESH          LOHIT   42.2   80.8  176.4  358.5
4            ARUNACHAL PRADESH     EAST SIANG   33.3   79.5  105.9  216.5
5            ARUNACHAL PRADESH  SUBANSIRI F.D   28.0   48.3   85.3  101.5
6            ARUNACHAL PRADESH          TIRAP   42.2   72.7  141.0  316.9
7            ARUNACHAL PRADESH  ANJAW (LOHIT)   42.2   80.8  176.4  358.5
8            ARUNACHAL PRADESH   LOWER DIBANG   83.7  153.9  303.5  383.6
9            ARUNACHAL PRADESH      CHANGLANG   70.3  170.9  367.9  554.4

     MAY    JUN    JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  \
0  358.5  295.5  285.0  271.9  354.8  326.0  315.2  250.9  2805.2    165.2
1  374.4  457.2  421.3  423.1  455.6  301.2  275.8  128.3  3015.7     69.7
2  343.6  503.3  465.4  460.9  454.8  276.1  198.6  100.0  2913.3     48.6
3  306.4  447.0  660.1  427.8  313.6  167.1   34.1   29.8  3043.8    123.0
4  323.0  738.3  990.9  711.2  568.0  206.9   29.5   31.7  4034.7    112.8
5  140.5  228.4  217.4  182.8  159.8   75.9   20.9   11.6  1300.4     76.3
6  328.7  614.7  851.9  500.6  418.3  218.7   42.9   22.9  3571.5    114.9
7  306.4  447.0  660.1  427.8  313.6  167.1   34.1   29.8  3043.8    123.0
8  268.0  374.2  272.0  160.5  266.7  167.2   64.0   56.0  2553.3    237.6
9  334.2  526.2  460.8  291.5  353.6  275.0   64.9   74.2  3543.9    241.2

   Mar-May  Jun-Sep  Oct-Dec
0    540.7   1207.2    892.1
1    483.5   1757.2    705.3
2    405.6   1884.4    574.7
3    841.3   1848.5    231.0
4    645.4   3008.4    268.1
5    327.3    788.4    108.4
6    786.6   2385.5    284.5
7    841.3   1848.5    231.0
8    955.1   1073.4    287.2
9   1256.5   1632.1    414.1

3. 
describe: This function is used to generate descriptive statistics of a DataFrame, including count, mean, standard deviation, minimum and maximum values, and quartile values.

In [4]:
import pandas as pd

df = pd.read_csv('district wise rainfall normal.csv')
print(df.describe())

              JAN         FEB         MAR         APR         MAY  \
count  641.000000  641.000000  641.000000  641.000000  641.000000
mean    18.355070   20.984399   30.034789   45.543214   81.535101
std     21.082806   27.729596   45.451082   71.556279  111.960390
min      0.000000    0.000000    0.000000    0.000000    0.900000
25%      6.900000    7.000000    7.000000    5.000000   12.100000
50%     13.300000   12.300000   12.700000   15.100000   33.900000
75%     19.200000   24.100000   33.200000   48.300000   91.900000
max    144.500000  229.600000  367.900000  554.400000  733.700000

               JUN          JUL          AUG         SEP         OCT  \
count   641.000000   641.000000   641.000000  641.000000  641.000000
mean    196.007332   326.033697   291.152262  194.609048   90.446334
std     196.556284   221.364643   152.647325   99.830540   74.990685
min       3.800000    11.600000    14.100000    8.600000    3.100000
25%      68.800000   206.400000   194.600000  128.800000   34.300000
50%     131.900000   293.700000   284.800000  181.300000   62.600000
75%     226.600000   374.800000   358.100000  234.100000  130.200000
max    1476.200000  1820.900000  1522.100000  826.300000  517.700000

              NOV         DEC       ANNUAL     Jan-Feb      Mar-May  \
count  641.000000  641.000000   641.000000  641.000000   641.000000
mean    34.117473   18.150858  1346.969579   39.339470   157.113105
std     59.371274   32.711009   838.878874   47.212773   213.445888
min      1.200000    0.000000    94.600000    0.000000     1.500000
25%      6.600000    5.300000   830.400000   14.700000    27.800000
50%     12.900000    7.900000  1116.200000   27.700000    67.200000
75%     32.300000   14.900000  1530.900000   41.100000   172.400000
max    475.100000  297.700000  7229.300000  335.300000  1256.500000

          Jun-Sep      Oct-Dec
count   641.00000   641.000000
mean   1007.80234   142.714665
std     629.33261   148.951752
min      39.60000     5.600000
25%     625.40000    51.600000
50%     896.60000    86.700000
75%    1193.80000   175.200000
max    5228.00000  1048.500000

4. 
groupby: This function is used to group data in a DataFrame based on one or more columns and then perform an aggregation function on each group.

In [47]:
import pandas as pd

df = pd.read_csv('district wise rainfall normal.csv')
grouped = df.groupby('DISTRICT')
print(grouped.mean())

              JAN   FEB    MAR    APR    MAY    JUN    JUL    AUG    SEP  \
DISTRICT
ADILABAD      7.5   7.0   11.4   11.9   18.2  178.4  317.4  291.7  171.4
AGRA         17.5   9.9    8.9    4.0    9.3   53.8  227.1  280.9  125.4
AHMEDABAD     0.8   0.3    0.5    0.7    5.9   91.0  215.4  190.8  105.4
AHMEDNAGAR    0.6   1.3    3.0    5.3   21.6  104.9  101.8   91.8  139.1
AIZAWL       13.8  31.2  107.9  185.8  351.4  467.7  448.7  480.7  390.9
...           ...   ...    ...    ...    ...    ...    ...    ...    ...
YADGIR        4.4   3.6    5.2   20.5   36.8  116.8  153.0  161.2  179.8
YAMUNANAGAR  42.5  34.9   31.9   15.1   26.4  117.8  304.4  325.4  144.5
YANAM        17.9  19.6   16.6   10.7   43.6   46.9   84.3  127.8  126.0
YAVATMAL      8.6   4.6   11.0    7.7   11.9  173.6  267.1  262.8  151.5
ZUNHEBOTO    23.7  26.8   65.7  177.2  225.7  350.3  441.8  352.2  241.8

               OCT    NOV    DEC  ANNUAL  Jan-Feb  Mar-May  Jun-Sep  Oct-Dec
DISTRICT
ADILABAD      83.0   14.8    7.3  1120.0     14.5     41.5    958.9    105.1
AGRA          28.1    5.0    4.7   774.6     27.4     22.2    687.2     37.8
AHMEDABAD     19.1    8.2    1.8   639.9      1.1      7.1    602.6     29.1
AHMEDNAGAR    73.8   22.5    7.5   573.2      1.9     29.9    437.6    103.8
AIZAWL       254.5   65.3   16.5  2814.4     45.0    645.1   1788.0    336.3
...            ...    ...    ...     ...      ...      ...      ...      ...
YADGIR       123.4   24.5    5.3   834.5      8.0     62.5    610.8    153.2
YAMUNANAGAR   36.0    6.8   21.3  1107.0     77.4     73.4    892.1     64.1
YANAM        270.7  368.5  203.9  1336.5     37.5     70.9    385.0    843.1
YAVATMAL      61.9   13.2    8.9   982.8     13.2     30.6    855.0     84.0
ZUNHEBOTO    122.5   41.6   10.7  2080.0     50.5    468.6   1386.1    174.8

[637 rows x 17 columns]

/tmp/ipykernel_70/1270024050.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grouped.mean())

5. 
to_csv: This function is used to save a DataFrame to a CSV file.

In [48]:
import pandas as pd

df = pd.read_csv('district wise rainfall normal.csv')
df.to_csv('new_file.csv', index=False)

df_read = pd.read_csv('new_file.csv')
print(df_read.head())

                 STATE_UT_NAME       DISTRICT    JAN   FEB    MAR    APR  \
0  ANDAMAN And NICOBAR ISLANDS        NICOBAR  107.3  57.9   65.2  117.0
1  ANDAMAN And NICOBAR ISLANDS  SOUTH ANDAMAN   43.7  26.0   18.6   90.5
2  ANDAMAN And NICOBAR ISLANDS  N & M ANDAMAN   32.7  15.9    8.6   53.4
3            ARUNACHAL PRADESH          LOHIT   42.2  80.8  176.4  358.5
4            ARUNACHAL PRADESH     EAST SIANG   33.3  79.5  105.9  216.5

     MAY    JUN    JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  \
0  358.5  295.5  285.0  271.9  354.8  326.0  315.2  250.9  2805.2    165.2
1  374.4  457.2  421.3  423.1  455.6  301.2  275.8  128.3  3015.7     69.7
2  343.6  503.3  465.4  460.9  454.8  276.1  198.6  100.0  2913.3     48.6
3  306.4  447.0  660.1  427.8  313.6  167.1   34.1   29.8  3043.8    123.0
4  323.0  738.3  990.9  711.2  568.0  206.9   29.5   31.7  4034.7    112.8

   Mar-May  Jun-Sep  Oct-Dec
0    540.7   1207.2    892.1
1    483.5   1757.2    705.3
2    405.6   1884.4    574.7
3    841.3   1848.5    231.0
4    645.4   3008.4    268.1

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [49]:
import pandas as pd

def reindex_df(df):
    new_index = list(range(1, len(df)*2+1, 2))
    new_df = df.set_index(pd.Index(new_index))
    return new_df

In [50]:
# new_df = reindex_df(df)

In [51]:
print(new_df)

NameError: name 'new_df' is not defined

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [52]:
import pandas as pd


df = pd.DataFrame({'Values': [1,2,3,4,5]})

In [53]:
def Sum_first_3(df):
    value_sum = 0
    
    for i in range(3):
        value_sum = value_sum + df['Values'][i]
        
    print("The sum of fist 3 values is :", value_sum)

In [54]:
Sum_first_3(df)

The sum of fist 3 values is : 6

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [55]:
import pandas as pd

df = pd.DataFrame({'Text': ['one in place of 1','two is for 2','three is 3','four for 4 right','five']})
print(df)

                Text
0  one in place of 1
1       two is for 2
2         three is 3
3   four for 4 right
4               five

In [56]:
def No_Word_Row(df):
    word_lists = df['Text'].str.split()
    df['Word_Count'] = [len(word_list) for word_list in word_lists]

No_Word_Row(df)
print(df)

                Text  Word_Count
0  one in place of 1           5
1       two is for 2           4
2         three is 3           3
3   four for 4 right           4
4               five           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are two different methods of a Pandas DataFrame that provide different types of information about the DataFrame.

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. The method does not take any arguments and returns a single integer value.

On the other hand, DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame, respectively. The method does not take any arguments and returns a tuple of two integers.

Here's an example usage of both methods to illustrate the difference:

In [57]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print("Size of DataFrame:", df.size)
print("Shape of DataFrame:", df.shape)

Size of DataFrame: 6
Shape of DataFrame: (3, 2)

Q6. Which function of pandas do we use to read an excel file?

Pandas read_excel() function is used for reading the excel files.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [58]:
import pandas as pd

In [59]:
df = pd.DataFrame({"Email" : ['piyush@galgotiacollege.edu','priyush@google.com','siyush@yahoo.com']})

In [60]:
def username_email(df):
    df['Username'] = [x.split('@')[0] for x in df['Email']]
    
username_email(df)
print(df)

                        Email Username
0  piyush@galgotiacollege.edu   piyush
1          priyush@google.com  priyush
2            siyush@yahoo.com   siyush

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

In [61]:
import pandas as pd

In [62]:
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
print(df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [63]:
def selection(df):
    condition = df[(df['A'] > 5) & (df['B'] < 10)]
    return condition
# selection(df)
# print(df)

In [66]:
selection(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [67]:
import pandas as pd

In [68]:
df = pd.DataFrame({'Values':[22,53,73,45,32,34]})

In [69]:
print(df)

   Values
0      22
1      53
2      73
3      45
4      32
5      34

In [74]:
print(df.mean())

Values    43.166667
dtype: float64

In [71]:
print(df.std())

Values    18.148462
dtype: float64

In [72]:
print(df.median())

Values    39.5
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [12]:
import pandas as pd

def calculate_moving_average(df):
    # Set the index of the DataFrame to the 'Date' column
    df.set_index('Date', inplace=True)
    # Compute the rolling window of size 7 for the 'Sales' column
    df['MovingAverage'] = df['Revenue'].rolling(window=7, min_periods=1).mean()
    # Reset the index of the DataFrame
    df.reset_index(inplace=True)
    return df

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/ine-rmotr-curriculum/FreeCodeCamp-Pandas-Real-Life-Example/master/data/sales_data.csv')
df_with_ma = calculate_moving_average(df)
print(df_with_ma.head())

         Date  Day     Month  Year  Customer_Age       Age_Group  \
0  2013-11-26   26  November  2013            19     Youth (<25)
1  2015-11-26   26  November  2015            19     Youth (<25)
2  2014-03-23   23     March  2014            49  Adults (35-64)
3  2016-03-23   23     March  2016            49  Adults (35-64)
4  2014-05-15   15       May  2014            47  Adults (35-64)

  Customer_Gender    Country             State Product_Category Sub_Category  \
0               M     Canada  British Columbia      Accessories   Bike Racks
1               M     Canada  British Columbia      Accessories   Bike Racks
2               M  Australia   New South Wales      Accessories   Bike Racks
3               M  Australia   New South Wales      Accessories   Bike Racks
4               F  Australia   New South Wales      Accessories   Bike Racks

               Product  Order_Quantity  Unit_Cost  Unit_Price  Profit  Cost  \
0  Hitch Rack - 4-Bike               8         45         120     590   360
1  Hitch Rack - 4-Bike               8         45         120     590   360
2  Hitch Rack - 4-Bike              23         45         120    1366  1035
3  Hitch Rack - 4-Bike              20         45         120    1188   900
4  Hitch Rack - 4-Bike               4         45         120     238   180

   Revenue  MovingAverage
0      950     950.000000
1      950     950.000000
2     2401    1433.666667
3     2088    1597.250000
4      418    1361.400000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('RELIANCE.NS_.csv')

In [12]:
df['Date'] = pd.to_datetime(df['Date'])

df['Weekday'] = df['Date'].dt.day_name()

In [20]:
print(df[['Date','Weekday']])

           Date    Weekday
0    2016-07-21   Thursday
1    2016-07-22     Friday
2    2016-07-25     Monday
3    2016-07-26    Tuesday
4    2016-07-27  Wednesday
...         ...        ...
1229 2021-07-14  Wednesday
1230 2021-07-15   Thursday
1231 2021-07-16     Friday
1232 2021-07-19     Monday
1233 2021-07-20    Tuesday

[1234 rows x 2 columns]

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
import pandas as pd

def select_january_data(df):
    # Convert 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Filter rows with date between '2023-01-01' and '2023-01-31'
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    january_data = df.loc[mask]
    
    return january_data

In [27]:
january_data = select_january_data(df)

In [28]:
print(january_data)

        Date
0 2023-01-03
1 2023-01-06
2 2023-01-31
4 2023-01-15

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

To use the basic functions of Pandas, you need to import the Pandas library. The most common way to do this is by using the import statement:

In [1]:
import pandas as pd

Here, we import Pandas and give it the alias pd, which is a common convention in the Pandas community. This makes it easy to reference Pandas functions using the pd prefix, like pd.DataFrame(), pd.read_csv(), and so on.

Once you have imported Pandas, you can start using its functions to read, manipulate, and analyze data.